:root {
  --surface-primary: hsl(0, 0%, 100%);
  --on-primary-high: hsl(0, 0%, 0%);
  --on-primamry-mid: hsl(0, 0%, 20%);
  --on-primary-low: hsl(0, 0%, 80%);

  --surface-secondary: hsl(0, 0%, 10%);
  --on-secondary-high: hsl(0, 0%, 100%);
  --on-secondary-mid: hsl(0, 0%, 80%);
  --on-secondary-low: hsl(0, 0%, 20%);

  --surface-error: hsl(0, 75%, 35%);
  --on-error: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-primary: hsl(0, 0%, 10%);
    --on-primary-high: hsl(0, 0%, 100%);
    --on-primamry-mid: hsl(0, 0%, 80%);
    --on-primary-low: hsl(0, 0%, 20%);

    --surface-secondary: hsl(0, 0%, 0%);
    --on-secondary-high: hsl(0, 0%, 100%);
    --on-secondary-mid: hsl(0, 0%, 80%);
    --on-secondary-low: hsl(0, 0%, 20%);

    --surface-error: hsl(0, 75%, 25%);
    --on-error: hsl(0, 0%, 100%);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  background-color: inherit;
  color: inherit;
}

body {
  background-color: var(--surface-primary);
  color: var(--on-primary-high);
}

body p,
body span {
  color: var(--on-primamry-mid);
}
body .IMG {
  background-color: var(--on-primary-low);
}

body .underline {
  border-bottom: 1px solid var(--on-primary-low) !important;
}

footer {
  background-color: var(--surface-secondary);
  color: var(--on-secondary-high);
}

footer p,
footer span {
  color: var(--on-secondary-mid);
}

footer .underline {
  border-bottom: 1px solid var(--on-secondary-low) !important;
}

.error {
  background-color: var(--surface-error);
}
.error * {
  color: var(--on-error);
}
