:root {
  --surface-primary: hsl(0, 0%, 100%);
  --surface-secondary: hsl(0, 0%, 10%);
  --typo-primary: hsl(0, 0%, 10%);
  --typo-secondary: hsl(0, 0%, 20%);
  --typo-tertiary: hsl(0, 0%, 40%);
  --img: hsl(0, 0%, 90%);
  --error: hsl(0, 75%, 40%);
  --on-error: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-primary: hsl(0, 0%, 10%);
    --surface-secondary: hsl(0, 0%, 0%);
    --typo-primary: hsl(0, 0%, 90%);
    --typo-secondary: hsl(0, 0%, 80%);
    --typo-tertiary: hsl(0, 0%, 60%);
    --img: hsl(0, 0%, 15%);
    --error: hsl(0, 75%, 20%);
    --on-error: hsl(0, 0%, 100%);
  }
}

body,
header {
  background-color: var(--surface-primary);
}

footer {
  background-color: var(--surface-secondary);
}

footer > *,
footer > * > * > * {
  color: white !important;
}

image {
  background-color: var(--img);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--typo-primary);
}

p {
  color: var(--typo-secondary);
}

span {
  color: var(--typo-tertiary);
}

.error {
  background-color: var(--error);
}
.error > * {
  color: var(--on-error);
}
.error > * > * {
  color: var(--on-error);
}
