/* FLEX */

.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-05 {
  gap: 0.5rem;
}

.sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}

/* PADDING */

.p-2 {
  padding: 2rem;
}
.p-1 {
  padding: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-05 {
  padding-bottom: 0.5rem;
}
.pb-025 {
  padding-bottom: 0.25rem;
}

/* MISC */

.underline {
  border-bottom: 1px solid var(--typo-tertiary);
}
.pointer {
  cursor: pointer;
}
.ar-1 {
  aspect-ratio: 1/1;
}
.ar-2 {
  aspect-ratio: 2/1;
}
